<h1>User info</h1>
<%= attachment_image_tag user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "150x150" %>

<table class="table table-hover">
	<tbody>
		<tr>
			<td>name</td>
			<td><%= user.name %></td>
		</tr>
		<tr>
			<td>introduction</td>
			<td><%= user.introduction %></td>
		</tr>
	</tbody>
</table>

<%=link_to edit_user_path(current_user.id),class: "col-xs-12 btn btn-default" do %>
	<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
<% end %>

<h1>New book</h1>
<%= form_for(book) do |f| %>
  <p>Title</p>
  <%= f.text_field :title,class:"col-xs-12" %>
  <p>Opinion</p>
  <%= f.text_area :body,class:"col-xs-12" %>
  <br><br><br>
  <%= f.submit 'Create Book',class:"btn btn-primary col-xs-12"%>
<% end %>