<table class="table">
		<tr><%= attachment_image_tag(user, :profile_image, size: "100x100", fallback: "no_image.jpg") %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>

		<tr>
			<th>follows</th>
			<th>
				<%= link_to followings_user_path(user) do %>
					<%= user.followings.count %>
				<% end %>
			</th>
		</tr>
		<tr>
			<th>followers</th>
			<th>
				<%= link_to followers_user_path(user) do %>
					<%= user.followers.count %>
				<% end %>
			</th>
		</tr>
</table>

<% unless current_user == user %>
  <% if current_user.following?(user) %>
    <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Unfollow', class: 'col-xs-12 btn btn-danger btn-block' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.build) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Follow', class: ' col-xs-12 btn btn-primary btn-block' %>
    <% end %>
  <% end %>
<% end %>
<% if user == current_user %>
	<div class="row">
		<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	</div>
<% end %>